$anchor: #454545;
$fossil: #7C7774;
$rice: #F5F5F5;
$frost: #E5ECF3;
$eggshell: #FEFCE8;
$salt: #EFE8F6;
$chiffon: #EEF5E6;
$facebook: #4867AA;
$twitter: #2CAAE1;
$pinterest: #BD081C;
$houzz: #7CC04B;
$instagram: #CD2482;
$debug: rgba(255, 0, 0, 0.15);

.anchor {
  background: $anchor
}
.fossil {
  background: $fossil
}
.rice {
  background: $rice
}
.frost {
  background: $frost
}
.eggshell {
  background: $eggshell
}
.salt {
  background: $salt
}
.chiffon {
  background: $chiffon
}
.white {
  background: white
}