@import './breakpoints.scss';

//styles used for closer look and press pages

.page-header {
  position: relative;
  z-index: 1;
  width: calc(100% - 128px);
  // margin-top: 120px;
  margin-top: 24px;
  margin-left: 128px;
  margin-bottom: 60px;
  display: flex;
  transition: all 0.6s ease-in-out;
  @media screen and (max-width: $tablet-size) {
    display: block;
    margin-top: 60px;
  }
  @media screen and (max-width: $mobile-grid) {
    width: calc(100% - 48px);
    margin-left: 24px;
    margin-bottom: 48px;
    margin-top: 96px;
  }
  @media screen and (min-width: 1281px) {
    width: calc(100% - 11%);
    margin-left: 0px;
  }
  &.invisible {
    opacity: 0;
  }
}
.page-description {
  text-align: left;
  margin-left: 128px;
  width: 395px;
  max-width: 100%;
  .p {
    margin-top: 24px;
  }
  @media screen and (max-width: $tablet-size) {
    margin-left: 0px;
    margin-top: 24px;
  }
  @media screen and (max-width: $mobile-grid) {
    width: 100%;
  }
  @media screen and (min-width: 1281px) {
    margin-left: auto;
  }
}